
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,700");

@mixin title-font {
    font-family:        'Josefin Sans', sans-serif;
    font-style:         normal;
    font-weight:        700;
}

@mixin subtitle-font {
    font-family:        'Josefin Sans', sans-serif;
    font-style:         normal;
    font-weight:        300;
}